@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "carbon";
@import "markdown-body";
@import "prismjs";
@import "typography";

html, body {
    @apply antialiased;
    @apply text-gray-900;
}

.header-link {
    @apply text-gray-900;
    @apply relative;
    @apply opacity-0;

    right: .5rem;

    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link {
    @apply opacity-100;
}

p, ul, ol {
    @apply mt-0;
    @apply mb-4;
}

blockquote, pre {
    @apply border;
    @apply rounded;
    @apply p-3;
    @apply mt-6;
    @apply mb-4;
}

blockquote {
    @apply flex;
    @apply p-0;
    @apply rounded;
}

blockquote > p > a {
    @apply text-white;
    @apply underline;
}

blockquote > p > a:hover {
    @apply text-white;
}

blockquote > div {
    @apply pt-4;
    @apply pb-2;
    @apply px-3;
    @apply rounded-l;
    @apply hidden;
}

@screen sm {
    blockquote > div {
        @apply block;
    }
}

blockquote > p {
    @apply p-3;
    @apply mb-0;
}

blockquote.note {
    @apply border-l-0;
    @apply bg-orange-500;
    @apply border-orange-700;
    @apply text-white;
}

blockquote.note > div {
    @apply bg-orange-700;
}

blockquote.note > p > code {
    @apply bg-orange-100;
    @apply text-orange-700;
}

blockquote.tip {
    @apply border-l-0;
    @apply bg-blue-500;
    @apply border-blue-700;
    @apply text-white;
}

blockquote.tip > div {
    @apply bg-blue-700;
}

blockquote.tip > p > code {
    @apply bg-blue-100;
    @apply text-blue-700;
}

blockquote.tip a, blockquote.note a {
    @apply text-white;
    @apply underline;
}

blockquote.tip a:hover, blockquote.note a:hover {
    @apply text-white;
}

code {
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .4rem;
    padding-right: .4rem;
    @apply text-sm;
    @apply bg-gray-100;
    @apply rounded;
}

pre > code {
    @apply p-0;
}

pre {
    @apply border;
    @apply bg-gray-100;
}

pre[class*="language-"] {
    @apply bg-gray-100;
    @apply mb-6;
    @apply p-3;
    @apply text-sm;
}

li {
    @apply py-1;
}

.docs-index h2 {
    @apply pb-1;
    @apply mt-0;
    @apply mb-2;
    @apply border-b;
    @apply border-dotted;
    @apply text-sm;
    @apply text-gray-900;
    @apply uppercase;
}

.docs-index > ul > li > ul {
    @apply text-sm;
}

.pin-22 {
    top: 5.5rem;
}
