@import "tailwindcss/preflight";

/* Add custom base styles here... */

@import "tailwindcss/components";

/* Add custom components here... */

@import "tailwindcss/utilities";

@import "carbon";
@import "prismjs";
@import "typography";

/* Add custom utilities here... */
html, body {
    @apply font-sans;
    @apply text-black;
    font-size: 16px;
}

blockquote, pre {
    @apply mt-6;
    @apply mb-4;
}

.header-link {
    @apply text-grey-dark;
    @apply relative;
    @apply opacity-0;

    right: .5rem;

    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link {
    @apply opacity-100;
}

p, ul, ol {
    @apply mt-0;
    @apply mb-4;
}

blockquote {
    @apply px-2;
    @apply text-grey-darker;
    @apply border-l-4;
    @apply border-grey-light;
}

code[class*="language-"],
pre[class*="language-"] {
    @apply text-sm;
    @apply bg-grey-lighter;
    @apply mb-4;
}

code {
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .4rem;
    padding-right: .4rem;
    @apply text-sm;
    @apply bg-grey-lighter;
    @apply rounded;
}

pre {
    @apply border;
    @apply rounded;
}

li {
    @apply py-1;
}

.docs-index h2 {
    @apply pb-1;
    @apply mt-0;
    @apply mb-2;
    @apply border-b;
    @apply border-dotted;
    @apply text-sm;
    @apply text-grey-dark;
    @apply uppercase;
}

.docs-index > ul {
    @apply list-reset;
}

.docs-index > ul > li > ul {
    @apply list-reset;
    @apply leading-normal;
    @apply text-sm;
}

.pin-22 {
    top: 5.5rem;
}
