#carbonads {
    --width: 180px;
    --font-size: 14px;
}

#carbonads {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    max-width: var(--width);
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, .1);
    background-color: hsl(0, 0%, 98%);
    font-size: var(--font-size);
    line-height: 1.5;
}

#carbonads a, #carbonads a:hover {
    color: inherit;
}

#carbonads span {
    position: relative;
    display: block;
    overflow: hidden;
}

.carbon-img {
    margin-bottom: 8px;
    max-width: var(--width);
    line-height: 1;
}

.carbon-img img {
    margin: 0 auto;
    max-width: var(--width) !important;
    width: var(--width);
    height: auto;
}

.carbon-text {
    @apply block;
    padding: 0 1em 8px;
}

.carbon-poweredby {
    @apply block;
    @pply font-medium;
    padding: 10px var(--font-size);
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 9px;
    line-height: 0;
}
