.markdown-body a {
    @apply text-blue-500;
    @apply underline;
}

.markdown-body a:hover {
    @apply text-blue-700;
}

.markdown-body blockquote {
    @apply bg-gray-100;
    @apply border-gray-200;
    @apply border-l-8;
}

.markdown-body ol, .markdown-body ul {
    @apply pl-0;
    @apply list-inside;
}

.markdown-body ol {
    @apply list-decimal;
}

.markdown-body ul {
    @apply list-disc;
}

.markdown-body table {
    @apply block;
    @apply overflow-auto;
}

.markdown-body table td,
.markdown-body table th {
    @apply px-2;
    @apply py-4;
    @apply border;
}

.markdown-body table tr:nth-child(2n) {
    @apply bg-gray-100;
}

.markdown-body .token.deleted {
    color: #b31d28;
    background-color: #ffeef0;
}

.markdown-body .token.inserted {
    color: #22863a;
    background-color: #f0fff4;
}
